li
    h3
        | Conversation with
        a Jill Spore
    ul.app--message--conversation
        
    each message in messages
        li.app--message--me
            .app--avatar(style=`background-image: url(${user.profile_image_url_https})`)
                img(src=user.profile_image_url_https)
            p.app--message--text #{message.text}
            p.app--message--timestamp #{elapsed(message.timestamp)} ago
            
        
