li
    .circle--fluid
        .circle--fluid--cell.circle--fluid--primary
            a.app--tweet--author
                .app--avatar(style=`background-image: url(${friends[0].profile_image_url_https})`)
                    img(src=friends[0].profile_image_url_https)
                h4 #{friends[0].name}
                p #{friends[0].screen_name}
        .circle--fluid--cell
            a.button.button-text Unfollow
